.cv-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: ". . ." ". . .";
}

.box {
  width: 150px;
  height: 150px;
  background: white;
}
